.dog-generator {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    width: 100%;
    min-height: calc(100vh - 130px - 90px);
}

.dog-generator img {
    width: 50%;
    max-width: 100vw;
}

.dog-generator div {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-right: 4%;
}

@media (max-width: 900px) {
    .dog-generator img {
        width: auto;
        height: 50vh;
    }
    .dog-generator {
        flex-direction: column;
    }    
}


.dog-image {
    width: 150px;
    height: auto;
    margin: 2% 9%;
    border-style: solid;
    border-color: #15141A;
    border-width: 5px;
}