#removeDog {
    transition-duration: 0.4s;
    outline: none;
    margin-bottom: 40px;
  }
  
  #removeDog:hover {
    background-color: pink;
    color: white;
  }

  .dogImageIteam{
    display: flex;
  }

  .main {
    min-height: calc(100vh - 130px - 120px);
}
