#my-button {
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    font-size: 20px;
}

#my-button:hover{
    background-color: rgb(8, 158, 8);
    border-color: rgb(8, 158, 8);
}

#like-button{
    font-size: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
}
#like-button::before{
    content: "\2665";
    vertical-align: middle;
    margin-right: 5px;
}

#like-button:hover {
    color: pink;
}

#like-button.active {
    color: red;
}

.remove-dogs-button {
    padding: 1rem;
    border-radius: 1rem;
    font-size: 20px;
    transition: 0.1s;
}
.remove-dogs-button:hover {
    transform: translateX(-5px) translateY(-5px);
    color: rgb(115, 115, 115);
    box-shadow: 5px 5px 15px rgb(73, 73, 73);
}