.breedsGenerator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .breedsGenerator dog-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 750px;
}

.breedsGenerator dog-images button {
    font-size: large;
    align-self: flex-end;
} */

.breedsGenerator img {
    padding: 20px;
    margin: 10px;
    height: 450px;
    max-width: 500px;
}

.inputContainer {
    display: flex; 
    flex-direction: column;
    gap: 1rem; 
    position: absolute;
    top: 660px;
    
    z-index: 1; 
    background: rgb(255, 255, 255); 
    padding: 1rem; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    pointer-events: all;
}